{
	"semi": true,
	"singleQuote": true,
	"printWidth": 160,
	"tabWidth": 2,
	"useTabs": true,
	"quoteProps": "consistent",
	"trailingComma": "none",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"singleAttributePerLine": false
}
